body {
  margin: 1em;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.My-logo,
.Active-logo {
  margin: 15px;
  display: inline-block;
  /* contain: content; */
  height: 15vmin;
  width: 15vmin;
  transition: all .2s ease-in-out;
}

h3 {
  color: #f4c430;
}

.My-logo:hover {
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .Active-logo {
    animation: Counter-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes Counter-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

input {
  text-align: center;
  align-items: center;
}

label {
  display: flex;
  color: #f4c430;
  margin: 5px;
  align-items: center;
}

/* Tic-Tac-Toe */
.active-page {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  color: orange;
  background: #fff;
  border: 3px solid skyblue;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 54px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.game-info {
  color: #f4c430;
  margin-left: 20px;
}

/* Account & City Apps*/
a {
  padding: 5px 5px 5px 20px;
}

h1 {
  margin: 1em;
  margin-top: 160;
  outline: 1px solid greenyellow;
  text-align: center;
  background: rgb(49, 146, 49);
  color: white;
  padding: 0px 10px 0px 10px;
}

label {
  padding: 5px 5px 5px 50px;
}

input[type=text],
select,
input {
  width: 90%;
  padding: 5px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}

input[type=submit] {
  width: 100%;
  background-color: #D5F3FE;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

button {
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
}

li {
  text-align: center;
}

ol {
  padding: 0;
  margin: 0;
}

ol li {
  margin-top: -1px;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  padding: 5px;
  font-size: 16px;
  color: white;
  position: relative;
}

ol li:hover {
  background-color: #eee;
}

ol tr:nth-child(even) {
  background-color: #f2f2f2;
}

ul {
  list-style: none;
}

.accList li:hover {
  transform: scale(1.05);
  color: blue;
}

.footer {
  display: inline;
  align-items: center;
  bottom: 5px;
  margin: 10px;
}

.clstatus {
  color: white
}

.clsuccess {
  color: green
}

.clwarning {
  color: orange
}

.clerror {
  color: red
}