body {
  background-color: #f1f1f1;
  margin: 2rem;
  min-width: 250px;
  text-align: center;
}

/* border style */
#basic-dom,
#working-with-cards {
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ol {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ol li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-position: inside;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

/* Darker background-color on hover */
ol li:hover {
  background: #ddd;
}

/* Style the "Add" button */
.addBtn,
.delBtn,
.showBtn {
  align-items: center;
  padding: 10px;
  margin: 5px;
  width: 25%;
  background: #d9d9d9;
  color: #555;

  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

/* Style the buttons hover */
.addBtn:hover,
.showBtn:hover,
.delBtn:hover,
.cardBtn:hover {
  background-color: #bbb;
}

/* card containers */
#cardsContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* card containers panels */
.panels {
  background-color: white;
  margin: auto;
  width: 40vw;
}

#leftPanel {
  grid-area: 1 / 1 / 2 / 2;
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
}

#rightPanel {
  grid-area: 1 / 2 / span 1 / span 1;
  height: 100%;
  padding: 10px;
}

/* cards style */
#addCard {
  margin: auto;
  width: fit-content;
}

.cards {
  text-align: center;
  margin: 1em auto;
  background: -webkit-linear-gradient(lightgray, rgba(80, 80, 80, 0.8));
  width: 50;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 5px;
}

.cardBtn {
  background-color: lightgray;
  width: 8em;
  height: 2em;
  margin: 5px;
  border: none;
  padding: 5px;
}

#cardTitle {
  margin: auto;
  font-size: 1.25em;
  font-weight: bold;
}