body {
  background-color: #f1f1f1;
  margin: 2rem;
  min-width: 250px;
  /* text-align: center; */
}

h1 {
  outline: 1px solid greenyellow;
  text-align: center;
  background: green;
  color: white;
}

label {
  padding: 5px 5px 5px 50px;
}

span {
  color: green;
  padding: 0px 0px 0px 5px;
}

legend {
  outline: 1px solid greenyellow;
  padding: 3px;
  text-align: left;
  color: whitesmoke;
  background: green
}

input[type=text],
select,
input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}

fieldset {
  opacity: 0.8;
  background: white;
}

input[type=submit] {
  width: 100%;
  background-color: #D5F3FE;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/*  */
button {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
}

#button4,
#button5 {
  background-color: #bbb;
}

#dropdown {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 6px 10px;
  transform: translate(0%, -50%);
  border-radius: 50%;
  color: gold;

}

/* container */
#container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "accs txns"
    "his his"
}

#accs {
  grid-area: accs;
}

#txns {
  grid-area: txns;
}

#his {
  grid-area: his;
  height: auto;
}

footer {
  color: lightblue;
  position: relative;
  bottom: 0;
  margin: 10px;
}

* {
  box-sizing: border-box;
}

li {
  text-align: center;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}


ol li {

  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 5px;
  font-size: 16px;
  color: black;
  /* display: block; */
  position: relative;
}

ol li:hover {
  background-color: #eee;
}

.close,
.closeModal {
  color: white;
  border: 1px solid gray;
  cursor: pointer;
  top: 50%;
  right: 0%;
  padding: 0px 10px;
  background: gray;
}

.close:hover,
.closeModal:hover {
  background: red;
  color: white;
}

/* Summary table */
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  text-align: center;
  border: 1px solid white;
  padding: 3px;
  color: green;
}

ol tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers td {
  border: 1px solid #eee;
}

#customers tr:hover {
  background-color: white;
}

#customers th {
  padding-top: 3px;
  padding-bottom: 1px;
  text-align: left;
  background-color: white;
  text-align: center;
}

#id-p {
  text-align: center;
}