body {
  /* background-image: url('./scripts/images/background.jpg'); */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f1f1f1;
  margin: 2rem;
  min-width: 250px;
  /* text-align: center; */
}

h1 {
  outline: 1px solid greenyellow;
  text-align: center;
  background: green;
  color: white; 
}

legend {
  outline: 1px solid greenyellow;
  padding: 3px;
  text-align: left;
  color: whitesmoke;
  background: green
}

.class-acc-el, .class-txn-el, #class-txn-hide {
  display: none;
}

#grid {
  display: grid;  
  grid-template-columns: 1fr;
}

#acc-info, #txn-info {
text-align: center;
border-radius: 10px;
transition: all 0.3s linear;
background: none;
}

input[type=text], select, input{
  width: 100%;
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}

fieldset {
cursor: pointer;
opacity: 0.9;
background: white;
}

.label {
  text-align: left;
}

input[type=submit] {
  width: 100%;
  background-color: #D5F3FE;
  color: white;
  padding: 14px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  padding: 20px;
}

/*  */
button {
  outline: 1px solid yellow;
  background-color: green;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
#button4, #button5 {
  outline: 1px solid greenyellow;
}
.button5 {border-radius: 50%;}


/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* Style the list items */
.myP {
  opacity: none;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style: none;
  background: green;
  font-size: 18px;
  transition: 0.2s;
  text-align: center;
  color: white;
  outline: 1px solid greenyellow;
}

#dropdown {
  cursor: pointer;
  position: relative;
  top: 50%;
  right: 0%;
  padding: 6px 10px;
  transform: translate(0%, -50%);
  border-radius: 50%;
  color: gold;

}

.close:hover {background:#f1f1f1;}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


footer {
  color: lightblue;
  position: fixed;
  bottom: 0;
  margin: 10px;
}